<div class="apps">
	<div class="apps__selections">
		<div>These are my creations</div>
		<a class="apps-selections__boxes glyphicon glyphicon-cloud"></a>
		<a class="apps-selections__boxes glyphicon glyphicon-download"></a>
		<a class="apps-selections__boxes glyphicon glyphicon-search"></a>
	</div>
</div>