<div class="root">
	<img class="root__bg" />
	<div class="root__title">Software Developer</div>
	<div class="links-container">
		<div class="links">
			<a target="_blank" href="https://facebook.com/albert.tseng.39" class="fb link"></a>
			<a target="_blank" href="https://linkedin.com/pub/albert-tseng/2b/8a/400/" class="linkedin link"></a>
			<a target="_blank" href="https://github.com/atseng3" class="github link"></a>
		</div>
	</div>
</div>