// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html {
	background: image-url('giphy.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.root {
	.title {
		color: #f8f8f8;
		font-size: 50px;
		position: absolute;
		top: 240px;
		left: 30%;
	}
}